/*
* @Author: Administrator
* @Date:   2017-10-26 20:33:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-27 23:07:06
*/
/*
订单信息
 */
.order-info .text-line{
	height: 30px;
	line-height: 30px;
}
.order-info .text-line .text
{
	margin-right: 30px;
}
.order-info .btn
{
	width: 80px;
	padding:0px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	font-size: 12px;
	text-align: center;
}
.header-table
{
	width: 100%;
	background:#999;
	margin-bottom:10px;
	padding:10px 0px;
}
.orderlist-body
{
	background:#999;
	font-size: 17px;
	font-family: '微乳雅黑';
	color: #666;
	padding:5px 0px;
}
.orderlist-body .order-allprice
{
	color: red;
}
.orderlist-body .order-detail
{
	float: right;
}
.orderlist-body .order-detail a:link
{
	color:#fff;
	text-decoration: none;

}
.orderlist-body span
{
	padding-right: 15px;
}
.orderlist-end img
{
	width: 100px;
	height: 100px;
}
.table-end
{
	width: 100%;
}
.table-end .img-order
{
	width: 10%;
	text-align: center;
}
.table-end .order-info
{
	width: 30%;
	text-align: center;

}
.table-end .order-price
{
	width: 20%;
	text-align: center;
	padding-left:20px;

}.table-end .order-nums
{
	width: 20%;
	text-align: center;

}.table-end .order-priceall
{
	width: 20%;
	text-align: center;

}
.total
{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin-top:10px;
	margin-right: 20px;
}
.total .total-price{
	font-weight: bold;
	color: #c60023;
}