/*
* @Author: Administrator
* @Date:   2017-10-19 20:42:51
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 20:48:06
*/
.nav-simple
{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo
{
	font-size: 26px;
	font-weight: bold;
	color:#c60023;
}